<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SDataClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SDataClientApp.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="VirtualDirectoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ContractName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSetName" serializeAs="String">
                <value />
            </setting>
            <setting name="CollectionResourceKind" serializeAs="String">
                <value />
            </setting>
            <setting name="CollectionCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CollectionStartIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SingleResourceKind" serializeAs="String">
                <value />
            </setting>
            <setting name="SingleResourceSelector" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateResourceKind" serializeAs="String">
                <value />
            </setting>
            <setting name="SchemaResourceKind" serializeAs="String">
                <value />
            </setting>
            <setting name="SchemaFileName" serializeAs="String">
                <value />
            </setting>
        </SDataClientApp.Properties.Settings>
    </userSettings>
</configuration>